@font-face {
    font-family: evilspacecorp;
    src: url(/fonts/aspace_demo-webfont.woff2);
}

:root {
    --form-width: 330px;
    --form-height: 500px;
}

* {
    font-family: evilspacecorp;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 1fr;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 1fr;

    position: sticky;
    background-color: rgb(11, 11, 11);
    color: rgb(255, 255, 255);
    height: 100px;
}

header img {
    grid: 1/1/2/-1;
    place-self: center;
    aspect-ratio: 1;
    width: 100px;
}

header button {
    place-self: center;
}

body {
    background-color: rgb(32, 32, 32);
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 2rem;
    text-decoration: underline silver;
}

#book-container {
    grid-column: 2 / 3;
    grid-row: 2 / -1;

    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    flex-basis: auto;
}

#book-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    gap: 12px;
    height: min-content;
    width: 100%;
}


#book-list div {
    font-size: 1rem;
}

.book-listing {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 300px;

    border-radius: 15px;
}

.book-info-div {
    margin-top: auto;
}

#open-modal {
    place-self: center;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.2rem;
}

form {
    width: var(--form-width);
    height: var(--form-height);
    font-size: 2;
}

#add-book-form>fieldset,
#edit-book-form>fieldset {

    border: none;
    padding: 20px;

    width: calc(var(--form-width)- 20px);
    height: calc(var(--form-height)-20px);

}

fieldset div {
    display: flex;
    justify-content: center;
}

legend {
    padding-top: 20px;
}

dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: var(--form-width);
    height: var(--form-height);
}


#add-book-form input,
#edit-book-form input {
    height: 30px;
    width: 130px;
}

#add-book-form input[type="checkbox"],
#edit-book-form input[type="checkbox"] {
    position: relative;
    top: 10px;
    width: 40px;
}

#add-book-form label,
#edit-book-form label {
    margin-right: 10px;
    width: 80px;
    display: inline;
    color: black;
}

#add-book-form div,
#edit-book-form div {
    padding: 10px;
}

#add-book-form div>label[for="hasRead"],
#edit-book-form div>label[for="hasRead"] {
    width: 200px;
    font-size: .75rem;
}

#form-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    translate: -50%;

}

#form-buttons * {
    aspect-ratio: 16/9;
    width: 75px;
}

.card-anchor:hover {
    opacity: .8;
}